*{
    margin: 0%;
    padding: 0%;
}
body,html{
    height: 100%;
}

.bgi{
    background-image:linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),url("back.jpg") ;
    height: 100% ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.about{
    position: fixed;
    top: 25%;
    left: 10%;
    font-family: cursive;
    font-size: 50px;
    background: -webkit-linear-gradient(#9900cc, #ff0000);
    -webkit-background-clip : text;
    -webkit-text-fill-color: transparent;

}

.info{
    position: fixed;
    top: 38%;
    left: 10%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}

.navi{
    background-color:black;
    overflow: hidden;
    margin: 0%;
    padding: 1%;
    position: absolute;
    top: 0%;
    width: 100%;
    
}

.navi a{
    float: right;
    display: block;
    color: snow;
    text-align: center;
    padding: 15px 33px;
    text-decoration: none;
    font-size: 20px;
}

img{
    position: absolute;
    top: 1pt;
    left: 15pt;
    z-index: 300; 
    width: 190px;
    height: 70px;
    object-fit: contain;
}

