*{
    margin: 0%;
    padding: 0%;
}

body,html{
    height: 100%;
    width: 100%;
}

.cimage{
    background-image:linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),url("contact.jpg") ;
    height: 100% ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

img{
    position: absolute;
    top: 1pt;
    left: 15pt;
    z-index: 300; 
    width: 190px;
    height: 70px;
    object-fit: contain;
}


.nav{
    background-color:black;
    overflow: hidden;
    margin: 0%;
    padding: 1%;
    position: absolute;
    top: 0%;
    width: 100%;
    
}

.nav a{
    float: right;
    display: block;
    color: snow;
    text-align: center;
    padding: 15px 33px;
    text-decoration: none;
    font-size: 20px;
}


h1{
    font-size: 70px;
    font-style: italic;
    text-align: center;
    position: absolute;
    top: 28%;
    left: 30%;
    transform: translate(-50%,-50%);
    background: -webkit-linear-gradient(#ff6699, #993399);
    -webkit-background-clip : text;
    -webkit-text-fill-color: transparent;
    
    
}


.input{
    position: absolute;
    top: 40%;
    left: 15%;
    width: 100%;

}

.name{
    width: 30%;
    padding: 12px 20px;
    margin: 8px;
    border-radius: 23px;
}

.email{
    width: 30%;
    padding: 12px 20px;
    margin: 8px;
    border-radius: 23px;
}

.text{
    width: 30%;
    padding: 12px 20px;
    margin: 8px;
    border-radius: 23px;
}

button{
    position: absolute;
    top: 120%;
    left: 5%;
    width: 10%;
    padding: 12px 20px;
    border-radius: 23px;
    font-weight: bold;
    margin: 8px;
    font-size: 20px;
    color: white;
    background: -webkit-linear-gradient(#1c949e, #00cc66);
    -webkit-background-clip : text;
    -webkit-text-fill-color: transparent;

}

