*{
    margin: 0%;
    padding: 0%;
    
}
body,html{
    height: 100%;
}

.myphoto{
    background-image:linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),url("jyoti.jpeg") ;
    height: 230% ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
h1{
    font-size: 70px;
    font-style: italic;
    text-align: center;
    position: absolute;
    top: 28%;
    left: 30%;
    transform: translate(-50%,-50%);
    background: -webkit-linear-gradient(#1c949e, #00cc66);
    -webkit-background-clip : text;
    -webkit-text-fill-color: transparent;
    
    
}

h2{
    font-size: 50px;
    font-style: italic;
    text-align: center;
    position: absolute;
    top: 22%;
    left: 22%;
    transform: translate(-50%,-50%);
    color:#218aa8;
    
}

p{
    position: absolute;
    font-style: italic;
    top: 32%;
    left: 13%;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif ;
    color:#00cc66 ;
}

button{
    position: absolute;
    top: 38%;
    left: 25%;
    padding: 20px;
    border-radius: 25px;
    font-weight: bold;
    margin: 2px;
    font-size: 20px;
    color: white;
    background: -webkit-linear-gradient(#1c949e, #00cc66);
    -webkit-background-clip : text;
    -webkit-text-fill-color: transparent;


}

.nav{
    background-color:black;
    overflow: hidden;
    margin: 0%;
    padding: 1%;
    position: absolute;
    top: 0%;
    width: 100%;
    
}

.nav a{
    float: right;
    display: block;
    color: snow;
    text-align: center;
    padding: 15px 33px;
    text-decoration: none;
    font-size: 20px;
}

img{
    position: absolute;
    top: 1pt;
    left: 15pt;
    z-index: 300; 
    width: 190px;
    height: 70px;
    object-fit: contain;
    
    

}






